# generally any contributor can review changes
* @terraform-components/contributors

# this file should not be changed easily
.github/CODEOWNERS  @terraform-components/admins

# any changes on workflows need to be reviewed
.github/*           @terraform-components/cicd